PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=6bk_D4D_DxUfGJRyNr8TqaDsQJmGs7Ki
DRIVE_DISK=local
SESSION_DRIVER=cookie
CACHE_VIEWS=false
DB_CONNECTION=mysql
PG_HOST=localhost
PG_PORT=5432
PG_USER=lucid
PG_PASSWORD=lucid
PG_DB_NAME=lucid
